webroot/GuestBookMRschema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Root element, ki vsebuje mesečna poročila nastanitvenih obratov-->
  <xs:element name="knjigaGostovMesecnoPorocilo">
    <xs:complexType>
      <xs:sequence>
        <!--Posamezen zapis s podatki mesečnega poročila nastanitvenega obrata-->
        <xs:element maxOccurs="unbounded" name="row">
          <xs:complexType>
            <!--Identifikacijska številka nastanitvenega obrata-->
            <xs:attribute name="idNO" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <!--Leto na katerega se nanaša poročilo-->
            <xs:attribute name="leto" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="2017" />
              </xs:restriction>
            </xs:simpleType>
            </xs:attribute>
            <!--Mesec na katerega se nanaša poročilo-->
            <xs:attribute name="mesec" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <!--Šifra statusa mesečnega poročila-->
            <xs:attribute name="statusPor" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="11" />
                  <xs:enumeration value="12" />
                  <xs:enumeration value="50" />
                  <xs:enumeration value="51" />
                  <xs:enumeration value="54" />
                  <xs:enumeration value="61" />
                  <xs:enumeration value="62" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <!--število dodatnih (pomožnih ležišč), ki ni zajeto v število stalnih ležišč, ki so navedena v registru,-->
            <xs:attribute name="stDodatnihlezisc" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <!--število prodanih nastanitvenih enot-->
            <xs:attribute name="stProdanihNE" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <!--število dni v mesecu, ko je bil nastanitveni obrat odprt-->
          <xs:attribute name="odprtDni" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="31" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>          
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
